*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
*:not(html) {
  /**:not(body):not(html) {*/
  /*box-sizing:border-box;*/
  border:1px dashed red;
}

.columns {
  min-height: 100px !important;
}
/* End for testing */

body {
  background-color: black;
  margin: auto;
  width: 90%;
  height: 50vh;
  color: white;
  padding-top: 2em;
}

.main {
  width: 100%;
  height: 50%;
}

.side1, .side2 {
  width: 100%;
  height: 20%;
  padding-top: 1em;
  /*margin: 5vh 0 0 0;*/
}


.main, .side1, .side2 {
  border: 10px solid white;
 }


@media only screen and (min-width: 600px),
       only screen and (min-width: 350px) and (orientation: landscape) {

   .side1, .side2 {
     width: 50%;
     height:50%;
     float: left;
     /*margin: 4.2vh 0 0 0;*/
   }
}

@media only screen and (min-width: 1140px) {

  .main {
    float: left;
    width: 50%;
    height:100%;
  }

.side1, .side2 {
  float: left;
  margin: 0 auto;
  }
}
